{% extends "Store/base.html" %}

{% block css %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'Store/css/book_detail.css' %}"> 
{% endblock css%}


{% block body %}
    <div class="book-container">
        <img class="book-cover" src="{{book.cover_photo.url }}"/>
        
        <div class="book-info">
            <h1 class="title">{{book.title }}</h1>
            {% for author in book.authors.all %}
                <a href="{% url 'Store:author_detail' author.id %} " class="author">{{ author }}</a>
            {% endfor %}
            <a href="{% url 'Store:categories' book.category.id %}" class="category">{{book.category}}</a>
            <div class="tags">
                {% for tag in book.tags.all %}
                    <a class="tag" href="{% url 'Store:tags' %}?tag={{tag.text}}">#{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="shop-info">
            {% if book.ebook %}
            <div class="ebook"  onclick="chooseType(event);">
                <div data-book-id="{{book.id}}" 
                    data-book-type="ebook"
                    data-book-price="{{book.ebook.price}}">
                    <p class="book-type">
                        ebook
                    </p>
                    <p class="price">
                        {{ book.ebook.price}}   PLN
                    </p>
                </div>
            </div>
            {% endif %}
            {% if book.audio_book%}
            <div class="audio-book"  onclick="chooseType(event);">
                <div data-book-id="{{book.id}}" 
                    data-book-type="audio_book"
                    data-book-price="{{book.audio_book.price}}">
                    <p class="book-type">
                        audiobook
                    </p>
                    <p class="price">
                        {{ book.audio_book.price}} PLN
                    </p> 
                </div>   
            </div>
            {% endif %}
            {% if book.paper_book %}
            <div id="choosen" class="paper-book" onclick="chooseType(event);" >
                <div data-book-id="{{book.id}}" 
                    data-book-type="paper_book"
                    data-book-price="{{book.paper_book.price}}">
                    <p class="book-type">
                        okładka {{book.paper_book.cover }}
                    </p>
                    <p class="price">
                        {{book.paper_book.price }} PLN
                    </p>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="price-info">
            
            <div class="">
                <div id="swapable">

                        <div>
                            {% if book.paper_book %}
                            <div class="book-type">
                                okładka {{book.paper_book.cover }}
                            </div>
                        
                            <p class="price">{{book.paper_book.price }} PLN</p>
                            {% endif %}
                        </div>
                </div>
                <i id="remove-icon" class="small material-icons" onclick="changeQuantityValue(-1)">remove</i>
                <input id="quantity" type="text" value="1" /> 
                <i id="add-icon" class="small material-icons" onclick="changeQuantityValue(1)">add</i>
                <a id="add-to-cart"
                    href="#"
                    onclick="addToCartFromInput(event)"
                    data-book-id="{{book.id}}" 
                    data-book-type="paper_book"
                    data-book-price="{{book.paper_book.price}}">
                    <i id="add-cart-icon" class="material-icons">add_shopping_cart</i>Dodaj do wózka
                </a>
            </div>
            
        </div>

        <div class="book-description">{{book.description}}</div>

    </div>
    
    <div id="other-books-segment">
        <p id="other-books-header">Inne książki tego autora:</p>
        
        {% for other_book in other_books %}

            <a class="other-book" href="{% url 'Store:book_detail' other_book.id other_book.slug %}" >
                <img class="other-cover" src="{{ other_book.cover_photo.url }}"/>
                <p> {{other_book}}</p>
                <p> {{other_book.paper_book.price}} PLN </p>   
            </a>
        
        {% endfor %}
    </div>

{% endblock body %}


{% block javascript %}
<script type="text/javascript" src="{% static 'Store/js/quantityForm.js' %}" > </script> 
<script type="text/javascript" src="{% static 'Store/js/addToCart.js' %}" > </script> 

{% endblock javascript %}