<div class="book-preview-containter">
        {% for book in books %}
            
            <div class="book-preview">
                {% load static %}
                <a class="cover-image-link" href="{% url 'Store:book_detail' book.id book.slug %}">
                    <img class="cover-image" src="{{ book.cover_photo.url }}" alt="{{ book.title }}"/>
                </a>

                {% with book_type=book.first_available_type %}

                <a class="addToCart-button" href="#" onclick="addToCart(event);"
                    data-book-id="{{book.id}}" 
                    data-book-type="{{book_type}}"
                    data-book-price="{{book_type.price}}">
                    <i id="add-cart-icon" class="material-icons">add_shopping_cart</i>Dodaj do wózka
                </a>


                <a class="title" href="{% url 'Store:book_detail' book.id book.slug %}">{{ book.title }}</a>
                {% for author in book.authors.all %}
        
                    <a class="author" href="{% url 'Store:author_detail' author.pk  %}" >{{ author }}</a>
                {% endfor %}
                
                <div>
                    
                    <p class="book-type">{{ book_type }}</p>
                    <p class="price">{{ book_type.price }} PLN</p>
                </div>

                {% endwith %}
            </div>
            
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if books.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ books.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ books.number }} of {{ books.paginator.num_pages }}.
                </span>
        
                {% if books.has_next %}
                    <a href="?page={{ books.next_page_number }}">next</a>
                    <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>