{% extends "Store/base.html" %}

{% block css %}
{% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'Store/css/display_book.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'Store/css/index.css' %}"> 
{% endblock css%}


{% block body %}
<div class="index-main-container">
        <div class="categories">
            <div class="categories-title">Kategorie:</div>
            {% for iter_category in categories %}
                {% if category == iter_category %}
                
                <a class="category-link activated" href="{% url 'Store:categories' iter_category.id %}">{{ iter_category|capfirst}}</a>
                {% else %}
                <a class="category-link " href="{% url 'Store:categories' iter_category.id %}">{{ iter_category|capfirst}}</a>
                {% endif %}
            {% endfor %}
        </div>
        
        {% include "Store/books_index.html" %}
    
       
    </div>

{% endblock body %}


{% block javascript %}
<script type="text/javascript" src="{% static 'Store/js/addToCart.js' %}" > </script> 
<script type="text/javascript" src="{% static 'js/getCookie.js' %}" > </script> 
{% endblock javascript %}