{% extends "Store/base.html" %}

{% block css %}

{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'Store/css/forms.css' %}">

{% endblock css%}

{% block body %}


    <form id="order-form" action="{% url 'Store:create_order' %}" method="post">
        {% csrf_token %}
        <p id="personal-info">
            Dane zamawiającego:
        </p>
        <div class="personal-info">
            {{ order_form.email.label_tag}}
            {{ order_form.email}}
    
            {{ order_form.first_name.label_tag}}
            {{ order_form.first_name}}
    
            {{ order_form.last_name.label_tag}}
            {{ order_form.last_name}}
        </div>

        <p id="delivery-info">Dane adresowe: </p>
        <div >
            {{ order_form.house_number.label_tag}}
            {{ order_form.house_number}}
    
            {{ order_form.street.label_tag}}
            {{ order_form.street}}
            
    
            {{ order_form.city.label_tag}}
            {{ order_form.city}}
            
    
            {{ order_form.zip_code.label_tag}}
            {{ order_form.zip_code}}
            
    
            {{ order_form.voivodeship.label_tag}}
            {{ order_form.voivodeship}}
    
            {{ order_form.additional_info.label_tag}}
            {{ order_form.additional_info}}
            
        </div>
        


        <input type="submit" value="Przejdź dalej"/>
    </form>
    <div class="my-form-widget-container"></div>


{% endblock body %}

{% block javascript %}

{% endblock javascript %}