{% extends 'Store/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Store/css/display_cart.css' %}">
{% endblock css %}


{% block body %}

{% if cart %}



        
        <div class="cart-container">
            
            <div class="items">
                <div class="pre-cart">Mój koszyk:</div>
                <div class="cart-item-preview">
                        <span></span>
                        <div class="book-info">Ksiażka:</div>
                        <span class="quantity">Ilość:</span>
                        <span class="price">Cena pojedyncza:</span>
                        <span class="total-price">Cena łaczna:</span>    
                </div>
                {% for item in cart %}
                    <div class="cart-item-preview">
                        <img class="cover-image-cart" src="{{ item.book.cover_photo.url }}"></i>
                        <div class="book-info">
                            <p class="title">{{ item.book.title }}</p>
                            <p class="author"> {% for author in item.book.authors.all %}
                                {{ author}}
                                {% endfor %}
                            </p>
                            <p class="book-format">{{ item.book_type }}</p>
                        </div>
                        <div
                            class="data-element quantity-change"
                            data-book-id="{{item.book.id}}" 
                            data-book-type="{{item.book_type}}"
                            data-book-price="{{item.book_type.price}}">
                           
                            <i id="remove-icon" class="small material-icons">remove</i>
                            <span class="quantity-value">{{ item.quantity }}</span>
                            
                            <i id="add-icon" class="small material-icons" >add</i>
                        </div>
                        <span class="price">{{ item.book_type.price }}PLN</span>
                        {% load multiply_tag %}
                        <div class="total-price">{% multiply item.book_type.float_price item.quantity %}PLN</div>

                        
                       
                    </div>
                 {% endfor %}
            </div>
             
             
             <div class="cart-summary">
                <p><span class="less-important">Całkowity koszt:</span>
                    {{global_cart.price}}PLN</p>
                <p >
                    <span class="less-important">Ilość przedmiotów:</span> 
                    <span class="quantity-second">{{global_cart.quantity}}</span>
                </p>
    
                <form action="{% url 'Store:display_cart' %}" method="post">
                    {% csrf_token %}
                    {% if global_cart.quantity == 0 %}
                    <button id="go-to-payment" type="submit" disabled>Zapłać</button>
                    {% else %}
                    <button id="go-to-payment" type="submit">Zapłać</button>
                    {% endif %}
                </form>
             </div>
        </div>
    

{% else %}
 <p>Nic tu nie ma</p>
{% endif %}

{% endblock body %}


{% block javascript %}
<script type="text/javascript" src="{% static 'Store/js/addToCart.js' %}" > </script> 
<script type="text/javascript" src="{% static 'Store/js/displayCart.js' %}" > </script> 
{% endblock %}