{% extends 'Account/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Account/css/forms.css' %}"> 
{% endblock %}


{% block body %}

<form class="login-form" method="post" action="{% url 'login' %}">
  <p class="header-like">Logowanie</p>
  {% csrf_token %}

  <div class="input-field">
    
    {{ form.username.label_tag }}
    {{ form.username }}
    
  </div>


  <div >
    
      {{ form.password.label_tag }}
      {{ form.password }}
    
  </div>


  <input type="submit" value="login" />
  <input type="hidden"  name="next" value="{{ next }}" />
  
  
  <p id="lost-password" class="smaller-faded"><a href="{% url 'password_reset' %}">Lost password?</a></p>
</form>


{% endblock body %}