<!DOCTYPE HTML>
<html>
<head>
   
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Store/css/base.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    {% block css %}
    {% endblock %}
</head>

<body>
{% include "global_header.html" %}
<main>

    
    {% block body %}
    {% endblock  %}
    
</main>


 {% block javascript %}
 {% endblock %}
</body>
</html>