
<header>
    <i id="menu" class="material-icons">menu</i>
                
    <h1 id="logo"><a href="{% url 'Store:index' %}">MojeLogo</a></h1>
    <form id="search" name="search" method="get" action="{% url 'Store:search' %}">
        <input id="search-input" 
            type="text" 
            placeholder="Czego szukasz?"
            name="search"
            onfocus="changeSearchFormColorOnFocus();" 
            onblur="changeSearchFormColorOnBlur();"
        >
        <button action="{% url 'Store:search' %}" type="submit">
            <i class="material-icons">search</i>
        </button>
    </form>
    {% if user.is_authenticated %}

    <a id="favourites"  href="{% url 'Account:observed_books' %}"><span class="pre-header">Obserwowane</span><i class="material-icons">star_border</i></a>
    <a id="settings" href="{% url 'Account:account_options' %}"><span class="pre-header">Konto</span><i class="material-icons">account_circle</i></a>
    {% else %}
        <a id="favourites" href="{% url 'Account:sign_up' %}">Zarejestruj się</a>
        <a id="settings" href="{% url 'login' %}">Zaloguj się</a>

    {% endif %}
    <a href="{% url 'Store:display_cart' %}">
        <div id="cart">
            {% if global_cart %}
                
                <span>
                    <i class="material-icons">shopping_cart</i>
                    <span id="cart-quantity-wrapper"><span id="cart-quantity"> {{ global_cart.quantity }}</span></span>
                </span>
                
                <span id="cart-price"> {{ global_cart.price }}PLN </span>
            {% else %}
                <span> Brak przedmiotów </span>
            {% endif %}
        <div>
    </a>

</header>
{% load static %}
<script type="text/javascript" src="{% static 'js/dropdownMenu.js' %}" > </script> 