
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;

    background-color: #fafafa;
}
a{
    text-decoration: none;
    color: rgb(77, 76, 76);
    
}

a:link{
    text-decoration: none;
}
a:visited{
    
}
a:focus{

}
a:hover{

}
a:active{

}

header{
    margin-top: 0;
    position: sticky;
    top: 0px;
    background-color: #fff; 
    border-bottom: 1px solid rgb(0,0,0,.0975);
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 300px 500px 1fr repeat(3, 50px) 1fr;
    grid-template-areas: ". logo search . fav set cart cart .";
    align-items: center;
}   

main{
    display: block;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fafafa;
}


#logo{
    font-size: 160%;
    grid-area: logo;
}

form#search{
    grid-area: search;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 4px;
    background-color:#fafafa;
    color: rgba(0, 0, 0, 0.397);
    padding: 4px;
}
form#search:focus-within{
    
}


input{
    width: 91%;
    position: relative;
    padding-left: 7px; 
    top: -3px; 
}
button[type=submit]{
    position: relative;
    top: 3px;
    color: rgba(0, 0, 0, 0.63);
    
}
button[type=submit]:hover{
    color: rgba(0, 0, 0, 0.925);
    cursor: pointer;
}

#favourites{
    grid-area: fav;
}
#settings{
    grid-area: set;
}
#cart{
    grid-area: cart;
}


#cart-quantity-wrapper {
    position: relative;
    left: -14px;
    display:inline-block;
    line-height:0px;    
    
    border-radius:50%;
    border:2px solid;
    font-size:12px;
    border-color:#0000009b;
    background-color:#0000009b;
    color: #fafafa;
}

#cart-quantity-wrapper span {
    display:inline-block;
    
    padding-top:50%;
    padding-bottom:50%;
    
    margin-left:4px;
    margin-right:4px;

    font-weight: 500px;
}
#cart-price{
    position: relative;
    left: -8px;
    font-size: 90%;
}
