.layout{
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-column-gap: 15px;
}

.book-container{
    display: grid;
    background-color: #fff; 
    grid-template-columns: 300px 300px 1fr;
    
    grid-template-areas: 
        "cover info info"
        "cover type type"
        "cover tags tags"
        "desc desc desc";
    grid-row-gap: 10px;
    
    padding: 30px;

}
#add-to-favourites{
    position: relative;
    top: 5px;

}
.book-cover{
    grid-area: cover;
    width: 150;
    height: 300px;

}

.book-info{
    grid-area: info;
}

.shop-info{
    grid-area: type;
    margin-bottom: 10px;
}



.book-description{
    grid-area: desc;
    line-height: 1.4;
}

.other-cover{
    width: 95px;
    height: 140px;
}



.tags{
    grid-area: tags;
    margin-bottom: 10px;
}

.segment-title{
 font-size: 1.1em;
}
.segment-title::after{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
    margin-bottom: 10px;
    margin-top: 3px;
}

.tag{
    color: rgba(0, 0, 0, 0.76);
    background-color: rgba(0, 0, 0, 0.096);
    padding: 1px 3px 2px 3px;
    display: inline-block;
    margin-top: 0.3em;
    margin-right: 0.1em;
}

#remove-icon, #add-icon {
    display: inline;
    cursor: pointer;


    user-select: none; 
    -ms-user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
}

#quantity{
    padding: 0;
    width: 30px;
    text-align: center;
}


.title{
    font-size: 1.2em;
    margin-bottom: 0.3em;
}
.pre{
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.411);
}

.author{
    margin-bottom: 4px;
    display: inline-block;
}
.category::before{
    content: "Kategoria: ";
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.411);
}
.category{
    display: block;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.76);
    margin-bottom: 0.2em;
}

.ebook p{
    display: block;
}

.audio-book p{
    display: block;
}

.paper-book p{
    display: block;
}

.choosable{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.46);
    border-radius: 5px;
    padding: 8px 4px;
    margin: 4px;
    text-align: center;
    cursor: pointer;
    width: 160px;
    box-sizing: border-box;
}

.ebook p.book-type,
.audio-book p.book-type,
.paper-book p.book-type{
    
    font-size: 0.85em;
    color: rgba(0, 0, 0, 0.76);
}

#choosen{
    border-color: rgba(25, 158, 25, 0.55);
    border-width: 3px;
}

#other-books-header{
    font-size: 1.3em;
    margin-bottom: 20px;
}

#other-books-segment{
    margin-top: 30px;    
}

.other-book{
    display: inline-block;
    width: 180px;
    height: 200px;
    vertical-align: top;
}

.price-info{
    background: #fff;
    width: 80%;
    justify-self: center;
    padding: 20px;
}

.price-info div.book-type, p.price{
    margin-bottom: 5px;
}

#add-to-cart{
    margin-top: 12px;
    display: block;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    height: 30px;
}


#add-cart-icon{
    position: relative;
    top: 4px;
    right: 2px;
}