.book-container{
    display: grid;
    background-color: #fff; 
    grid-template-columns: 300px 200px 1fr 200px;
    
    grid-template-areas: 
        "cover info type add"
        "desc desc desc .";
    grid-row-gap: 10px;
    
    padding: 30px;

}

.book-cover{
    grid-area: cover;
    width: 150;
    height: 300px;

}

.book-info{
    grid-area: info;
}

.shop-info{
    grid-area: type;
    align-self: end;
    justify-self: right;
}

.book-description{
    grid-area: desc;
}

.other-cover{
    width: 95px;
    height: 140px;
}

.price-info{
    grid-area: add;
}

.tag{
    color: rgba(0, 0, 0, 0.76);
    background-color: rgba(0, 0, 0, 0.096);
    padding: 1px 3px 2px 3px;
}

#remove-icon, #add-icon {
    display: inline;
    cursor: pointer;
}

#quantity{
    padding: 0;
    width: 30px;
    text-align: center;
}
#add-to-cart{
    display: block;
}