.book-container{
    display: grid;
    background-color: #fff; 
    grid-template-columns: 300px 300px 1fr 200px;
    
    grid-template-areas: 
        "cover info type add"
        "desc desc desc .";
    grid-row-gap: 10px;
    
    padding: 30px;

}

.book-cover{
    grid-area: cover;
    width: 150;
    height: 300px;

}

.book-info{
    grid-area: info;
}

.shop-info{
    grid-area: type;
    align-self: end;
    justify-self: right;
    width: 120px;
    
}


.book-description{
    grid-area: desc;
}

.other-cover{
    width: 95px;
    height: 140px;
}

.price-info{
    grid-area: add;
}

.tag{
    color: rgba(0, 0, 0, 0.76);
    background-color: rgba(0, 0, 0, 0.096);
    padding: 1px 3px 2px 3px;
}

#remove-icon, #add-icon {
    display: inline;
    cursor: pointer;


    user-select: none; 
    -ms-user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
}

#quantity{
    padding: 0;
    width: 30px;
    text-align: center;
}
#add-to-cart{
    display: block;
}


#add-cart-icon{
    position: relative;
    top: 4px;
}

.title{
    font-size: 1.2em;
    margin-bottom: 0.3em;
}
.author{
    margin-bottom: 0.25em;

}
.category{
    display: block;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.76);
    margin-bottom: 0.2em;
}
.tag{
    display: inline-block;
    margin-top: 0.3em;
    margin-right: 0.1em;
}

.ebook p{
    display: block;
}

.audio-book p{
    display: block;
}

.paper-book p{
    display: block;
}

.ebook, .audio-book, .paper-book{
    border: 1px solid rgba(0, 0, 0, 0.46);
    border-radius: 5px;
    padding: 8px 4px;
    margin: 4px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.ebook p.book-type,
.audio-book p.book-type,
.paper-book p.book-type{
    
    font-size: 0.85em;
    color: rgba(0, 0, 0, 0.76);
}

#choosen{
    border-color: rgba(25, 158, 25, 0.55);
    border-width: 3px;
}

#other-books-header{
    font-size: 1.3em;
    margin-bottom: 20px;
}

#other-books-segment{
    margin-top: 30px;    
}

.other-book{
    display: inline-block;
    width: 180px;
    height: 200px;
    vertical-align: top;
}
