@media(max-width:850px){
    .container{
        display: grid;
        grid-template-columns: 500px;
        grid-column-gap: 30px;
        justify-content: center;
    }

    .spaceing{
        grid-row-start: 1;
    }

}
@media(min-width:850px){
    .container{
        display: grid;
        grid-template-columns: 400px 400px;
        grid-column-gap: 30px;
        justify-content: center;
    }
}

.register-button, .without-account-button{
    display: block;
    margin: 30px auto;
    width: 200px;
    
    background-color:  rgba(10, 228, 126, 0.657);
    border-radius: 6px;
    padding: 12px 12px;
    color: rgba(255, 255, 255, 0.9);    
    font-weight: 600;
    text-align: center;

}
.register-button:hover, .without-account-button:hover{ 
    background-color: rgba(10, 228, 126, 0.925);
    
}

.header-like{
    font-size: 1.3em;
    color: rgba(0,0,0, .5);
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0, .5);
    margin-bottom: 18px; 

}

.register{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.spaceing{
    padding: 20px;
    background-color: #fff;
    height:200px;

}

.smaller-faded{
    font-size: 0.95em;
    color: rgba(0, 0, 0, 0.712);
}

#lost-password{
    margin-top: 10px;
    text-align: end;
}