
form#order-form{
    margin: 0 auto;
    padding: 20px 20px;
    width: 600px;
}

form#order-form input[type=text], input[type=password], input[type=email]{
    display: block;
    padding: 8px;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    margin-bottom: 16px; 
}

form#order-form label{

    margin-bottom: 4px;
    display: block;
    font-size: 80%;
    color: rgb(0,0,0,.7)
}

form#order-form input[type=submit]{
    display: block;
    margin: 0 auto;
    background-color:  rgba(10, 228, 126, 0.657);
    border-radius: 6px;
    padding: 12px 12px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    

}
form#order-form input[type=submit]:hover{
    background-color: rgba(10, 228, 126, 0.925);
        
}

p#personal-info, p#delivery-info{
    color: rgba(0, 0, 0, 0.76);
    border-bottom: 1px solid rgba(0,0,0,.0975);
    padding: 2px 0px 2px 0px;
    font-size: 1.3em;
    margin-bottom: 14px;
}

.personal-info, .delivery-info{
    background-color: #fff;
    padding: 20px 20px;
    margin-bottom: 20px;
}
