.cart-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}


.cart-item-preview{
    
    background-color: #fff;
    display: grid;
    grid-template-columns: 100px 200px 1fr 200px 200px;
    grid-template-areas: "cover info . quantity price total-price total-price-currency.";
    align-items: center;
    margin-bottom: 2px;
    padding: 20px 20px;
}

.cover-image-cart{
    grid-area: cover;
    height: 100px;
    width: 65px;
}

.book-info{
    grid-area: info;
}

.quantity-change{
    grid-area: quantity;
}
.quantity{
    grid-area: quantity;
}

.price{
    grid-area: price;
}

.total-price{
    grid-area: total-price;
}
.total-price-currency{
    grid-area: total-price-currency;
}

.cart-summary{
    background-color: #fff;
}

#remove-icon, #add-icon{
    cursor: pointer;
    user-select: none; 
    -ms-user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
}