

.categories{
    background-color: #fff;
    height: 400px;
    padding: 15px;
}

.category-link{
    display: block;
    font-size: 1.1em;
    padding: 2px;
    margin-bottom: 8px;
    color: rgba(27, 27, 27, 0.747);
}

.category-link:hover{
    color: rgb(56, 52, 52);
    
}
.categories-title{
    color: rgb(56, 52, 52);
    font-size: 1.1em;
    padding: 2px;
    margin-bottom: 12px;
}
.activated{
    color: rgba(10, 228, 126, 0.925);
}