
form.order-data-form{
    padding: 20px 20px;    
    background-color: #fff;
}

form.order-data-form label{
    display: block;
    margin-bottom: 2px;

}
form.order-data-form input[type=text], 
form.order-data-form input[type=password], 
form.order-data-form input[type=email]{
    display: block;
    padding: 8px;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    margin-bottom: 16px; 
}

form.login-form input[type=text], 
form.login-form input[type=password], 
form.login-form input[type=email]{
    display: block;
    padding: 8px;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    margin-bottom: 16px; 
}

 label{
    margin-bottom: 4px;
    display: block;
    font-size: 80%;
    color: rgb(0,0,0,.7)
}

input[type=submit]{
    background-color:  rgba(10, 228, 126, 0.657);
    border-radius: 6px;
    padding: 12px 12px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    

}
input[type=submit]:hover{
    background-color: rgba(10, 228, 126, 0.925);
        
}

.header-like{
    display:inline-block;
    font-size: 1.3em;
    padding: 0px 50px 2px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    margin-bottom: 18px;
}

.login-form{
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.login-form input{
    box-sizing: border-box;
    width: 100%;
}

.login-form input[type=submit]{
    display: block;
    width: 200px;
    float: right;
    cursor: pointer;
}

@media(max-width:600px){
    #lost-password{
        clear: both;
        padding-top: 20px;
        float: right;
    }   
}

